<mat-card class="element-center text-center width-md">
    <div class="logo-container margin-bottom-ld">
        <img mat-card-avatar src="../../../assets/images/logo.png">
    </div>
    <mat-card-title>
        <h1>Sign in HearYourHome</h1>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid" class="margin-top-md">Log in!</button>
            </mat-card-actions>
        </form>
        <mat-card-actions>
            <button mat-raised-button class="margin-top-md" (click)="goToRegister()">Sign up</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
