<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283238161604-56gic9oqqaph7knkomv27h3ftpahrkmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283238161604-56gic9oqqaph7knkomv27h3ftpahrkmt</string>
	<key>API_KEY</key>
	<string>AIzaSyBNDBIrgDoIx9cGqcbT4NAgJTa7hcA4PwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>283238161604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>hearyourhome-92092</string>
	<key>STORAGE_BUCKET</key>
	<string>hearyourhome-92092.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283238161604:ios:39c8a777aa3347dff5fd91</string>
</dict>
</plist>