<!DOCTYPE html>
<html lang="fr">

<body>
<div class="box">
        <img src="../../../assets/images/hyh_logo_2_light.png" alt="" />
        <p>Hearyourhome est une solution s'adressant aux personnes sourdes et malentendantes, et a pour objectif d'améliorer leur quotidien que sein de leur domicile. Le produit est constitué d'une application mobile et web, connecté à plusieurs capteurs répartis dans toute la maison, et joue des flashs lumineux particuliers en fonction de sons détectés, qui auront été prédéfinis au préalable sur le compte de l'utilisateur.
        </p>
        <br>
        <p>  Cette Beta que nous vous proposons a pour but de tester le produit en condition réelles, à recevoir de potentielles recommandations, critiques, retours de bugs et à évaluer l'engouement que cela pourrait créer.
        </p>
        <br>  
        <p> 
        Lors de cette phase de tests, les fonctionnalités disponibles sont les suivantes : création et connexion aux comptes utilisateurs, ajouter des garants de confiance au compte, afficher la liste des garants, afficher les notifications lors d'un évènement enregistré, afficher la liste des capteurs,  ajouter et modifier un capteur, afficher les statistiques enregistrées par les capteurs et les filtrer en fonction de paramètres prédéfinis, et  finalement, modifier les informations liées au compte utilisateur ainsi que les réglages de l'application.
        </p>
        <br>
        <h2>Donnez votre avis et suivez le projet de près !</h2>
        <p>HearYourHome reçoit toutes les recommendations et points nécessaires pour faire avancer notre produit dans la direction de l'utilisateur !</p>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc9Z1831vTo3SPp4P006yA0GR9nUMmIpRAT4mruYZsvNLLOiA/viewform?embedded=true" width="640" height="1455" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe></div>      
<!-- SOCIAL PANEL HTML -->
<div class="social-panel-container">
  <div class="social-panel">
    <p> 
      <i class="fa fa-heart"></i> 
      <a target="_blank" href="https://florin-pop.com"></a>
    </p>
    <button class="close-btn">
      <i class="fas fa-times"></i>
    </button>
    <h4>Get in touch on</h4>
    <ul>
      <li>
        <a href="https://twitter.com/hearyourhome" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/hearyourhome" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/hearyourhome" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/hearyourhome" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<button class="floating-btn" (click)="showSocialPanel()">
  Get in Touch
</button>
</body>

</html>