export DATABASE_NAME=app
# When starting in production mode HOST=db, in dev mode HOST=localhost
export DATABASE_HOST=localhost
export DATABASE_PASSWORD=dbpass
export DATABASE_USER=root
export DATABASE_PORT=5432
export DATABASE_URL="postgresql://$DATABASE_USER:$DATABASE_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$DATABASE_NAME?schema=public"

export SESSION_SECRET=keyboard_cat
export PORT=8000
export MODE=local

export DEFAULT_ADMIN_EMAIL=enzo.forzani@epitech.eu
export DEFAULT_ADMIN_PASSWORD=admin

export REDIS_PORT=6379
export REDIS_HOST=localhost
export REDIS_PASS=REDIS_PASS